.figures{
    height: 150px;
    padding-top: 15px;
}

.b{
    margin: 10px 0px 10px 0px;
    background-color: aquamarine;
    border-radius: 5px;
}

.br{
    display: block;
    margin-bottom: 0em;
}
.group{
    width: 200px;
    height: 200px;
    display:inline-table;
}
